div{
    border-style:none;
    border-color:#aaa;
    border-width:3px;
    background-color:#333; 
}

.div_1, .div_2, .div_3{
    border-style:solid; 
    border-color:#aaaaaa;
    border-width:3px;
    background-color:#111; 
}
.div_1{
    margin-left:15px; 
    margin-top:25px; 
    padding:5px; 
    width:868px;
}
.div_2{
    position: absolute; 
    top:25px; 
    left:930px; 
    width:916px;
    padding:15px;
}
.div_3{
    position: absolute; 
    top:410px; 
    left:930px; 
    width:916px;
    padding:10px;
}