.str, .num, .type, .nbt, .normal{
    font-size:16px; 
    font-weight:normal; 
    font-family:Menlo, Monaco, Consolas, 'Droid Sans Mono';
}
.str{
    color:greenyellow;
}
.num{
    color:goldenrod;
}
.type{
    color:lightcoral;
}
.nbt{
    color:lightskyblue;
}
.normal{
    color:lightgrey;
}